/* Tic-Tac-Toe */
* {
    margin: 0;
    padding: 0;
    font-family: "Mansalva", "Tourney", system-ui, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
}

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.page-title {
    margin: 20px 0 5px;
    text-align: center;
    font-size: 4rem;
    text-shadow: 2px 2px 1px black;
}

.player-turn-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.player-turn-card {
    width: 7rem;
    height: 6rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.player-turn-card.turn {
    background-color: rgba(50, 185, 50, 0.432);
}

.player-name {
    font-size: 1.5rem;
}

.player-symbol {
    font-size: 2.5rem;
}

.player-symbol.p1 {
    color: rgb(125, 7, 7);
}

.player-symbol.p2 {
    color: rgba(75, 0, 205);
}

.game-state-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    width: 14rem;
}

.game-start {
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: yellowgreen;
    transition: 0.1s ease-in-out;
}

@keyframes color-change {
    0% { 
        background-color: yellowgreen;
        color: brown;
    }
    50% { 
        background-color: rgb(205, 202, 50);
        color: rgb(165, 132, 42); 
    }
    100% { 
        background-color: yellowgreen;
        color: brown; 
    }
}

.game-start:hover {
    animation: color-change 1s infinite;
}

.game-start:active {
    transform: scale(90%, 90%)
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.ttt-board {
    width: 325px;
    height: 325px;

    display: grid;
    grid-template-rows: 8fr 1fr 8fr 1fr 8fr;
    grid-template-columns: 8fr 1fr 8fr 1fr 8fr;
    justify-items: center;
    align-items: center;

    background-color: rgba(218, 201, 154, 0.507);
    box-shadow: inset 2px 2px 5px  rgba(31, 31, 31, 0.418);
    padding: 20px;
    border-radius: 25px;;
}

/* Square */
.ttt-board-square[data-xcoord="0"][data-ycoord="0"] {
    grid-area: 1 / 1 / 2 / 2;
}

.ttt-board-square[data-xcoord="0"][data-ycoord="1"] {
    grid-area: 1 / 3 / 2 / 4;
}

.ttt-board-square[data-xcoord="0"][data-ycoord="2"] {
    grid-area: 1 / 5 / 2 / 6;
}

.ttt-board-square[data-xcoord="1"][data-ycoord="0"] {
    grid-area: 3 / 1 / 4 / 2;
}

.ttt-board-square[data-xcoord="1"][data-ycoord="1"] {
    grid-area: 3 / 3 / 4 / 4;
}

.ttt-board-square[data-xcoord="1"][data-ycoord="2"] {
    grid-area: 3 / 5 / 4 / 6;
}

.ttt-board-square[data-xcoord="2"][data-ycoord="0"] {
    grid-area: 5 / 1 / 6 / 2;
}

.ttt-board-square[data-xcoord="2"][data-ycoord="1"] {
    grid-area: 5 / 3 / 6 / 4;
}

.ttt-board-square[data-xcoord="2"][data-ycoord="2"] {
    grid-area: 5 / 5 / 6 / 6;
}

.ttt-board-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    font-size: 4.5rem;

    background-color: rgb(240, 235, 235);
    border: none;
    box-shadow: 2px 2px 3px  rgba(0, 0, 0, 0.589);
    
    transition: 0.2s ease-in-out;
}

.ttt-board-square > p {
    position: absolute;
    opacity: 0;
}

.ttt-board-square:disabled {
    background-color: rgb(240, 235, 235);
    border: none;
    box-shadow: 2px 2px 3px  rgba(0, 0, 0, 0.589);
}

.ttt-board-square:hover:not(:disabled) {
    transform: translate(-5px, -5px);
}

.ttt-board-square:active:not(:disabled) {
    transition: 0.1s ease-in-out;
    transform: translate(2px, 2px);
}

.ttt-board.maybe-x > .ttt-board-square:hover:not(:disabled) > .x {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    color: rgb(125, 7, 7, 0.3);
}

.ttt-board.maybe-o > .ttt-board-square:hover:not(:disabled) > .o {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    color: rgba(75, 0, 205, 0.3);
}

.ttt-board-square.X > .x {
    opacity: 1;
    color: rgb(125, 7, 7);
}

.ttt-board-square.O > .o {
    opacity: 1;
    color: rgb(75, 0, 205);
}

/* Grid line */
.grid-line.vert.one {
    grid-area: 1 / 2 / -1 / 3;
}

.grid-line.vert.two {
    grid-area: 1 / 4 / -1 / 5;
}

.grid-line.horiz.one {
    grid-area: 2 / 1 / 3 / -1;
}

.grid-line.horiz.two {
    grid-area: 4 / 1 / 5 / -1;
}

.grid-line {
    opacity: 0;
    background-color: rgb(50, 39, 53);
    border-radius: 20px;
    width: 100%;
    height: 100%;
}